@import 'colors';

footer{
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    color: $theme;
    margin-top: 2rem;
    >.subFooter1{
        display: grid;
        grid-template-columns: 60% 40%;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            >div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                svg:hover{
                    cursor: pointer;
                    height: 2rem;
                }
            }
        }
    }
    >.subFooter2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >.footerCopyRight{
            background-color: $lightBackground;
            width: 100%;
            text-align: center;
            line-height: 1rem;
            margin-top: 0.5rem;
        }
    }
    button{
        padding: 10px;
        line-height: 1rem;
        background-color: $lightTheme;
        color: $backgroundColor;
    }
}


.footerHead {
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    margin: 1.2rem;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,$lightTheme 50%,$theme 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient($lightTheme 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .footerHead:hover {--_p: 100%}
  
  .footerHead {
    font-family: system-ui, sans-serif;
    font-size: 5rem;
    cursor: pointer;
  }