@import 'colors';
.notFound{
    min-height: 52vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >div{
        display: flex;
        flex-direction: column;
        background-color: $backgroundColor;
        height: 35vh;
        width: 70%;
        color: $theme;
        justify-content: center;
        align-items: center;
        >button{
            padding: 1rem;
            text-decoration: none;
            a{
                color: $backgroundColor;
                text-decoration: none;
            }
        }
    }
}